{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} {{ site_title|default:_('Funsocore') }}{% endblock %}

{% block branding %}
{% if is_popup %}

<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('xd') }}</a></h1>-->
<img id="logo-login" src={% static 'img/logo.jpeg' %} alt="Logo">
<h1 id="site-name">{{site_header | default:_('Funsocore')}}</h1>

{%endif%}
{%if not is_popup%}
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('xd') }}</a></h1>-->
<img id="logo-admin" src={% static 'img/logo.jpeg' %} alt="Logo">
<h1 id="site-name">{{site_header | default:_('Funsocore')}}</h1>
{%endif%}
{% endblock %}

{% block nav-global %}{% endblock %}
