{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block branding %}
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('xd') }}</a></h1>-->
<img id="logo-login" src={% static 'img/logo.jpeg' %} alt="Logo">
<h1 id="site-name">{{site_header | default:_('Funsocore')}}</h1>
<a class="!underline hover:!underline !decoration-white" href="{% url 'ppal' %}">Volver</a>
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}


<!--<form action="{{ app_path }}" method="post" id="login-form">
  
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">¿Olvidaste tu contraseña?</a>
  </div>
  {% endif %}
  <div class="submit-row">
    <input type="submit" value="Iniciar sesión">
  </div>
</form>
-->


  {% crispy form %}

</div>
{% endblock %}
