{% extends 'header.html' %} {% load static %} {% block contenido %}

  <article class="w-full grid justify-items-stretch grid-cols-55">
    <figure class="w-full flex justify-center">
      <img class="w-full shadow-1x1" src="{% static 'img/brand.png' %}" alt="" />
    </figure>
  </article>

  <div class="flex justify-self-center grid place-items-center">
    
    <p class="bg-yellow-200 p-7">
      Somos Funsocore Oriente Renaciente, una organización sin ánimo de lucro, dedicada a brindar apoyo a
       todo tipo de comunidades en vulnerabilidad a lo largo del departamento de Norte de Santander, desde 
       nuestros comienzos en 2015, nuestro objetivo es proporcionar ese apoyo social para este tipo de 
       escenarios, a través de diferentes iniciativas.

    </p>
    <figure class="cursor-pointer hover:scale-105 py-5">
      <img
        class="pr-5 pl-5 w-30 h-30"
        src="{% static 'img/Informacion pertinente.png' %}"
        alt=""
      />
    </figure>
    
  </div>

{% endblock %}
