{% extends 'header.html' %}
{% load static %}
{% block contenido %}
    <section class="bg-white mt-20">
       <div class="bg-pink-300 bg-cover pt-20 pb-20">
        <h1 class="text-center font-serif text-7xl  underline-offset-8 underline decoration-double underline decoration-sky-500">DONACIONES</h1>
       </div>
       <div class="bg-green-200 mr-36 ml-36 mt-10 mb-10 pt-5 pb-5 pr-5 pl-5">
        <h1 class="text-center font-mono">En esta sección, buscamos promover la obra de caridad a nuestra fundación. 
            A través de los blogs (los cuales invitamos a darle un vistazo) tratamos de demostrar las intenciones honestas
        y emocionales, mediante las cuales llevamos a cabo actividades para ayudar y tenderle una mano amiga a los más necesitados.
    Sin embargo, no siempre se tienen los recursos suficientes para sustentar esta labor. Por eso, agradecemos de todo corazón
cualquier ayuda económica ofrecida para seguir con nuestra serie de actividades, las cuales pueden ver su progreso a través de las 
novedades.</h1>
       </div>  
       <div class="bg-indigo-200 mr-36 ml-36 mt-10 mb-10 pt-5 pb-5 pr-5 pl-5">
        <h1 class="text-center font-mono">Para apoyarnos y poder seguir brindando este apoyo a las comunidades en casos de vulnerabilidad nos puedes apoyar por los siguientes medios:
            <strong>Cuenta de Ahorros, Banco de Bogotá: 260193560</strong></h1>
       </div> 
       <div class="bg-blue-200 mr-36 ml-36 mt-10 mb-10 pt-5 pb-5 pr-5 pl-5">
        <h1 class="text-center font-mono">O si lo deseas, puedes apoyarnos donando a este link de PayPal <a class="font-bold underline underline-offset-4 hover:scale-100 text-blue-900" href="#">Click aquí</a></h1>
       </div> 
       

    </section>
{% endblock %}