{% load i18n static %} {% load tailwind_filters %} {% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style_ppal.css' %}" />
    <title>{{site_header | default:_('Funsocore')}}</title>
    {% tailwind_css %}
    <title>Document</title>
  </head>
  <body class="bg-cyan-500">
    <section class="bg-white mt-20 mr-20 ml-20">
      <article class="flex justify-start">
        <a href="{% url 'ppal' %}">
          <figure class="ml-5 mt-5">
            <img
              class="h-45 shadow-2xl"
              src="{% static 'img/logo.jpeg' %}"
              alt=""
            />
          </figure>
        </a>
        <a href="{% url 'ppal' %}">
          <h1 class="text-right text-8xl ml-8 mr-28 mt-10">FUNSOCORE</h1>
        </a>
        <div class="w-full text-right m-8"><a href="{%url 'login' %}?next=/admin/"><b>Administracion</b></a></div>
      </article>

      
      <div class="grid lg:grid-cols-3 gap-3 flex">
        <a href="{% url 'post_lista' %}">
          <figure class="cursor-pointer hover:scale-110">
            <p class="font-mono text-center text-4xl pt-16 pb-10">
              Nuestros Proyectos
            </p>
            <img
              class="w-75 h-75 pl-10"
              src="{% static 'img/nuestros_proyectos.png' %}"
              alt=""
            />
          </figure>
        </a>
        <a href="{% url 'nov_lista' %}">
          <figure class="cursor-pointer hover:scale-110">
            <p class="font-mono text-center text-4xl pt-16 pb-10">Novedades</p>
            <img
              class="w-75 h-75 pl-5 pr-5"
              src="{% static 'img/novedades.png' %}"
              alt=""
            />
          </figure>
        </a>
        <a href="{% url 'donar' %}">
          <figure class="cursor-pointer hover:scale-110">
            <p class="font-mono text-center text-4xl pt-16 pb-10">Ayúdanos</p>
            <img
              class="w-75 h-75 pr-10"
              src="{% static 'img/ayudanos.png' %}"
              alt=""
            />
          </figure>
        </a>
      </div>
      <div class="mt-10">{% block contenido %} {% endblock %}</div>
      <div class="pt-16">
        <footer class="w-full bg-yellow-200 pt-6 pb-3">
          <div class="mx-auto w-9/12 text-white flex justify-between">
            <p
              class="cursor-pointer text-blue-900 font-bold italic underline decoration-dashed text-3xl hover:text-red-900 hover:scale-110"
            >
              <a href="{% url 'acercade' %}">¿Quiénes somos?</a>
            </p>
            <div class="flex">
              <a
                class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-green-500 items-center flex justify-center rounded.full"
                href="https://wa.me/573115112922"
                target="_blank"
              >
                <i class="text-3xl fab fa-whatsapp"></i>
              </a>
              <a
                class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-blue-700 items-center flex justify-center rounded.full"
                href="https://web.facebook.com/FUNSOCORE"
                target="_blank"
              >
                <i class="text-3xl fab fa-facebook"></i>
              </a>
              <a
                class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-fuchsia-700 items-center flex justify-center rounded.full"
                href="https://www.instagram.com/funsocore_oficial/"
                target="_blank"
              >
                <i class="text-3xl fab fa-instagram"></i>
              </a>
              <a
                class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-red-700 items-center flex justify-center rounded.full"
                href="mailto:funsocoreoficial@gmail.com"
                target="_blank"
              >
                <i class="text-3xl far fa-regular fa-envelope"></i>
              </a>
              
            </div>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
