.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
}

@media (max-width: 767px) {
    .login #container {
        width: auto;
        max-width: 480px;
        margin: 50px auto;
    }
}

.login-input{
    width: 100%;
}

#logo-login{
    height: 140px;
    align-self: center;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("/static/img/bg-login.589c235f7d50.jpg");
    backdrop-filter: blur(10px);
}

#branding{
    margin: auto;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
}