<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> 
    <title>Document</title>
</head>
<body class="bg-cyan-500">
    <section class="bg-white mt-20 mr-20 ml-20 ">
        <article class="grid grid-cols-2 "> 
        
        <figure class="ml-5 mt-5">
            <img class="w-60 h-45 shadow-2xl"src="\imagenes\WhatsApp Image 2022-11-08 at 10.45.08 PM.jpeg" alt="">
        </figure>
        <h1 class="text-right font-serif text-8xl -ml-28 mr-28">FUNSOCORE</h1>
    </article>
    <div class="grid  lg:grid-cols-3 gap-3 flex">        
      <figure class="cursor-pointer hover:scale-110 pt-16 ">
        <p class="font-mono text-center text-3xl pt-16 pb-10 ">Nuestros Proyectos</p>
        <img class="w-75 h-75 pl-10"src="\imagenes\Mesa de trabajo 2.png" alt="">
      </figure>
      <figure class="cursor-pointer hover:scale-110 pt-16 ">
        <p class="font-mono text-center text-4xl pt-16 pb-10">Novedades</p>
        <img class="pr-3 pl-3 w-70 h-70"src="\imagenes\2022-11-15 (11).png" alt="">
      </figure>
      <figure class="cursor-pointer hover:scale-110 pt-16">
        <p class="font-mono text-center text-4xl pt-16 pb-10">Ayúdanos</p>
        <img class= "pr-10 w-75 h-75"src="\imagenes\2022-11-15 (10).png" alt="">
      </figure>
    </div> 
    <div class="pt-16">  
    <footer class="w-full bg-yellow-200 pt-6 pb-3">
        <div class="mx-auto w-9/12 text-white flex justify-between">
            <p class="cursor-pointer text-blue-900 font-bold italic underline decoration-dashed text-3xl hover:text-red-900 hover:scale-110">¿Quiénes somos?</p>
            <div class="flex">
                <a class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-green-500  items-center flex justify-center rounded.full " href="">
                    <i class="text-3xl fab fa-whatsapp"></i>
                </a>
                <a class="cursor-pointer hover:scale-150 mr-3 h-14 w-14 duration-300 bg-blue-700  items-center flex justify-center rounded.full" href="">
                    <i class="text-3xl fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
    </section>

</body>
</html>